@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.baloo-2 {
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style: normal;
  }

.lobster-regular {
font-family: "Lobster", sans-serif;
font-weight: 400;
font-style: normal;
}



:root{
    --cor-principal: #ffc20f;
    --cor-fundo: #F5F5F5;
    --cor-branca: #ffffff;
    --fonte--principal: "Montserrat";
    --fonte--secundaria: "Baloo 2";
    --cor--rodape: #333333;
    --cor-card1: #f51e1ee8;
    --cor-card2: #74c074f3;
}




* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body, html{
    width: 100vw;
    box-sizing: border-box;
}


header {
    background-color: var(--cor-fundo);
    display:flex;
    padding: 20px;
    justify-content: space-between;   
    align-items: center; 
}



.cabecalho__menu{
    display: flex;
    gap: 2em;
    align-items: center;  

}


#logo_meato{
    width: 80px;
    border-radius: 2em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479); 
}


.cabecalho__menu__logo{
    width: 30px;
    height: 40px;
}


.cabecalho__login{
    padding-right: 2em;
    background-color: var(--cor-principal);
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479);
}

.link__login{
    padding: 0.5em;
    color: white;
    font-family: var(--fonte--secundaria);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}


.secao1__container{
    width: 100vw;
    height: 30vh;
    background-image: url(img/fundo_comidas.jpg);
    background-color: #f5f5f586;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


.texto__secao1{
    font-family: var(--fonte--secundaria);
    font-weight: bolder;
    font-size: 1.4em;
    font-style: italic;
    width: 50%;
    padding: 1em 2em 0.5em 1em;
}

.subtexto__secao1{
    font-family: var(--fonte--secundaria);
    font-size: 0.9em;
    width: 50%;
    padding: 0 0 2em 1.5em;
}


.secao2__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 0.5em;
}

.secao2__campo_pesquisa{
    padding: 1.2em;
    width: 80vw;
    background-color: var(--cor-fundo);
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    font-family: var(--fonte--secundaria);
}

.botao__pesquisar{
    padding: 1em;
    width: 87vw;
    font-family: var(--fonte--secundaria);
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 10px;
    background-color: var(--cor-principal);
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.719);
    font-size: 1em;
}

.secao3__container{
    width: 90%;
    margin: auto;
   background-color: var(--cor-branca);
   height: 30vh;
    
}

.secao3__lista{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    gap: 10px;
    padding-top: 1em;

}


.secao3__lista__itens{
    background-color: var(--cor-fundo);
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 50px;
    padding: 8px;
    flex: 0 0 calc(20% - 30px);
    margin-bottom: 10px;
    box-sizing: border-box;   
}

.secao3__lista__links{
    color: rgba(0, 0, 0, 0.521);
    font-family: var(--fonte--principal);   
}

.secao3__lista__itens:hover{
    background-color:var(--cor-principal);
}

.secao4__container__container{
    background-color: #e9e4e4;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0;
}

.secao4__container{
    padding: 2em 1em;
    width: 85vw;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.card__padrao{
    background-color:var(--cor-principal);
    height: 150px;
    padding: 1em;
    width: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    border-radius: 1.5em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
}


.card__padrao > h2 {
    font-family:  var(--fonte--principal);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1em;
}

.secao4__card__imagem{
    width: 70px;
    padding-bottom: 0.5em;
}


.secao4__card__link{
    color: white;
    background-color: rgba(0, 0, 0, 0.219);
    padding: 0.5em 0.5em;
    border-radius: 10px;
    font-family: var(--fonte--principal);
    font-weight: 400;
    font-size: 1em;
}

.secao4__card__link:hover{
    background-color: rgba(255, 255, 255, 0.548);
}


.secao4__card1{
    background-color: var(--cor-card1);
}

.secao4__card2{
    background-color: var(--cor-card2);
}

.secao4__container__carrosel{
    width: 99.2%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.secao4__carrosel__titulo{
    font-family: var(--fonte--principal);
    font-size: 1em;
    text-align: center;
    padding: 1em;
    width: 100%;
}


.secao4__carrosel__lista{
    display: flex;
    transition: transform 0.5s ease-in-out;

}


.secao4__carrosel__item{
    display: flex;
    min-width: 150px;
    margin: 10px;
    gap: 0.7em;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.473);
    width: 40%;
    padding: 1em;
    border-radius: 10px;
}

.item__carrosel__logo{
    width: 40px;
    border-radius: 100%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.301);
}

.item__carrosel__esquerdo{
    max-width: 80px;
}

.item__carrosel__direito{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.nome__marca{
    font-family: var(--fonte--principal);
    font-size: 0.8em;
}

.seguimento__marca{
    font-size: 0.6em;
    font-family: var(--fonte--principal);
}

.prev, .next {
    position: absolute;
    top: 67%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.9); 
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}


.secao5__container{
    padding: 1em;
    width: 92.3vw;
    background-color: var(--cor-fundo);
    height: 160vh;
}

.secao5__titulo{
    font-family: var(--fonte--principal);
    padding: 1em;
    text-align: center;
}

.nome__app{
    color: var(--cor-principal);
}

.secao5__subtexto{
    font-family: var(--fonte--principal);
    padding: 1em;
    text-align: center;
}

.secao5__cards__lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

}


.secao5__imagem{
    width: 40%;
    padding: 1em;
}

.secao5__cards__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 2em 2em 2em 0;
    width: 100%;
    height: 30vh;
}

.secao5__cards__item:hover{
    background-color: #ffc30f56;
    border: none;
    transition: 0.8s;
}

.secao5__cards__texto{
    font-family: var(--fonte--secundaria);
    font-weight: bold;
    font-size: 1.2em;
}

.secao5__cards__texto__especial{
    color: var(--cor-principal);
}


.secao5__cards__item__ultimo{
    height: 20%;
}

.secao5__imagem__ultima{
    padding-top: 10%;
}

.secao6__container__app{
    height: 80vh;
}

.secao6__app__titulo{
    padding: 1em;
    font-family: var(--fonte--secundaria);
    text-align: center;
    background-color: var(--cor-fundo);
}

.secao6__app__texto{
    font-family: var(--fonte--principal);
    padding: 1.2em;
    text-align: center;
    font-size: 1.5em;
}

.secao6__app__gif{
    width: 100vw;
}

.secao6__app__video{
    width: 80vw;
    border-radius: 1em;
}

.rodape__container__meato{
    background-color: var(--cor--rodape) ;
}

.rodape__meato__marca{
    font-family: var(--fonte--principal);
    color: var(--cor-principal);
    padding: 2em 1em 1em 1em;
}

.rodape__meato__lista__links{
    font-family: var(--fonte--principal);
    line-height: 4em;
    padding-left: 1em;
    color: var(--cor-branca);
}

.rodape__meato__lista__links:hover{
    color: var(--cor-principal);
}

.rodape__legal__titulo{
    font-family: var(--fonte--principal);
    color: #ffc30f;
    padding: 2em 1em 1em 1em;
}

.rodape__container__legal__links{
    font-family: var(--fonte--principal);
    line-height: 4em;
    padding-left: 1em;
    color: white;
}

.rodape__container__legal__links:hover{
    color: var(--cor-principal);
}

.rodape__do__desenvolvedor{
    font-family: var(--fonte--principal);
    line-height: 4em;
    padding-left: 1em;
    color: white;
    text-align: center;
    width: 80%;
    padding: 2em 0 0 2.5em;
}

.nome__desenvolvedor{
    font-family: var(--fonte--principal);
    color: var(--cor-principal);
}